body {
    font-family: Arial, Helvetica, sans-serif;
}

.parent {
    align-self: center;
    background-color: rgb(1, 20, 49);
    color: white;
}

#title { 
    font-size: 28px;
    text-align: center;
}

.list {
    background-color: rgb(38, 45, 56);
    text-align: left;
    font-size: 18px;
}

img {
    width: 420px;
    height: auto;
}